body{
    margin: 0;
    font-family: 'apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}
header .nav{
    justify-content: space-between;
    display: flex;
    padding: 16px;
    margin-left: 180px;
    margin-right: 190px;
}

header {
    background-color: #1f2937;
    color: white;
}

ul{
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

li{
    justify-content: space-between;
    
    
}

.logo{
    font-size: 24px;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: whitesmoke;
    
}


.showcase{
    display: flex;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom:40px ;
    align-items: center;
    justify-content: space-between;
}


.showcase .right > img{
    height: 300px;
    width: 550px;
    margin: 100px 60px;
}

.title{
    width:500px;
}

.title h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

button{
    border-radius: 8px;
    padding: 10px 30px;
    background-color: #3882F6;
    color: white;
}


.content > p{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid #ddd; */
    gap: 20px;
    padding: 20px;
    margin: 40px 300px;
    
}

.box-one , .box-two , .box-three , .box-four {
    border: 5px solid rgb(24, 119, 192);
    border-radius: 10px;
    text-align:  center;
}

.boxes p{
    display: flex;
    justify-content: center;
    align-items: center;
}


.content{
    padding-bottom: 80px;
}


.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote .say , .author{
    width: 800px;
    /* padding: 40px 80px; */
    padding-left: 50px;
    padding-right: 50px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}


.author{
    padding-top: 0;
    text-align: right;
    font-weight: bold;
}



.signup{
    
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 50px ; 
}

.msg{
    padding: 20px 50px; 
    
     gap: 50px; 
    
    /* margin: 50px; */
    display: flex;
    border: 3px solid #d2ddf0;
    background:#3882F6;
    color: white;
    border-radius: 10px;
    justify-content: center;
}

.msg > button{
    border-radius: 8px;
    padding: 10px 30px;
    background-color: #3882F6;
    color: white;
    border: 3px solid #d2ddf0;
}







footer{
    background-color: #1f2937;
    color: white;
    bottom:0;
    width:100%;
    padding-top:30px;
    padding-bottom:30px;
    height:30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}





